{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">Welcome, {{ user.username }} !</h2>
          <image src= "https://files.catbox.moe/gu57j8.jpg"></image>
        </div>
      </div>
    </div>
{% endblock content %}
